<h1>Embedded Signing</h1>

  <%= form_with method: :post, controller: 'embedded_signing',
                action: 'create', local: true do |form| %>
    <%= form.submit "Sign the document"%>
  <% end %>
