<h1>Send Envelope Results</h1>

<p>Envelope ID: <%=  @envelope_id %></p>
<p>The signer will receive an email: <%=  @signer_name %> &lt;<%= @signer_email %>&gt;</p>

<p>API Response:</p>
<%= debug(@api_results) %>

