<h1>Send envelope for signing via email</h1>

<%= form_with method: :post, controller: 'send_envelope',
              action: 'create', local: true do |form| %>
  <%= form.submit "Send the envelope"%>
<% end %>
